@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root{
  --light_green: rgb(96, 108, 56);
  --dark_green: rgb(40, 54, 24);
  --lighter_orange: rgb(254, 250, 224);
  --light_orange: rgb(221, 161, 94);
  --orange: rgb(188, 108, 37);
  --white:rgb(255, 255, 255);
}
*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0px;
}
body{
  background-color: var(--lighter_orange);
}
.bold{
  font-weight: bolder;
}
button{
  background-color: var(--orange);
  color: white;
  border: 1px solid white;
  border-radius:5px;
  padding: 4px 8px;
  font-weight: bolder;
}
.title{
  text-align: left;
  font-weight: bold;
  font-size: large;
}
.invitee>input, .edit_dets>input .invitee_email>input{
  border-width: 0;
  border-bottom: 1px solid  black;
  margin-bottom: 30px;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0);
}
.invitee_email>input{
  width: 120%;
}
/*styling navbar*/
.navbar-custom{
  border-radius: 0px;
  background-color: var(--dark_green);
  color: white;
}
.navbar-custom>div>div>a, .navbar-custom>div>div>ul>li>a{
  color: white;
}
nav>div>div>ul>li:hover{
  font-weight: bolder;
  text-decoration: underline;
}
a.name{
  font-size: 1.4em;
  margin-left: 20px;
}
.bold{
  font-weight: bold;
}
.tagline{
  color: white;
}
/*styling banner */
#opennote{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#opennote>.banner_text{
  font-size: 2em;
  z-index: 2;
  position: absolute;
  color: var(--dark_green);
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .8);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--dark_green);
  backdrop-filter: blur(5px);
}
.split_left{
  background-color: var(--dark_green);
  background-image: url('../images/discussion_banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid var(--dark_green);

}
.split_right{
  background-color: var(--orange);
  background-image: url('../images/build_ideas.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid var(--dark_green);
  
}
.split_left, .split_right{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.split_left>div>.card, .split_right>div>.card{
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(5px);
  border: 1px solid var(--light_orange);
  border-radius: 5px;
}
/*styling story section */
.nav-tabs{
  font-size: 1.4em;
}
.cohorts{
  position: sticky;
  top: 5vh;
  background-color: white;
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 5px;
}
.mid_section{
  max-height: 90vh;
}
.nav-tabs>li>a{
  color: var(--orange);
}
.alum_stori{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.story_form{
  position: sticky;
  bottom: 0;
}
/*add news section */
.add_news{
  background-color: white; 
  position: sticky;
  top: 10vh;
}
.add_news>a>img{
  z-index: 2;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: -4px;
}
.form_story{
  position: sticky;
  bottom: 0;
  height: 40vh;
}
#stories{
  margin-bottom: 30vh;
}
/*styling footer*/
.footer{
  background-color: var(--dark_green);
  color: white;
  min-height: 20vh;
  margin: 0;
}
.footer>div>div>a{
  color: white;
  font-size: 1.4em;
  margin: 0;
}
/* Profile page styling */
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 2px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
.quote{
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(3px);
  padding: 8px;
}

