{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 rgba-stylish-strong  p-4">
            <h3>NEW COHORT
            </h3>
            <form style="color:white;" action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary btn-sm">Add new Cohort</button>
            </form><br>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}