{% extends 'admin_dash/admin_dashboard.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content%}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 p-4">
            <h3>NEW COHORT
            </h3>
            <form  action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button onclick="M.toast({html: 'Cohort created successfully',inDuration:700, completeCallback: function(){alert('Your toast was dismissed')}})">Add new Cohort</button>
                <button class="btn btn-success btn-sm" onclick="M.toast({html: 'Cohort created successfully',inDuration:700, completeCallback: function(){alert('Your toast was dismissed')}})">Add new Cohort</button>

            </form><br>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}