<div class="footer">
  <div class="footer_inner d-flex flex-row align-items-center justify-content-center">
    <div class="socials d-flex flex-column m-5">
      <a href="">Facebook</a>
      <a href="">Twitter</a>
      <a href="">Instagram</a>
      <a href="">Github</a>
      <a href="">Portfolio</a>
    </div>
    <div class="links d-flex flex-column m-5">
      <a href="">Meet Colleagues</a>
      <a href="">Join Group</a>
      <a href="">Share Story</a>
      <a href="">Read Current News</a>
    </div><br>

  </div>
  <h4 class="text-center">&copy;Moringa Alumni Platform</h4>
</div>