<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
</head>

<body>
    <div class="container">
        <a href="{% url 'chat' %}" class="btn btn-sm btn-info mb-2"> GROUPS</a>
        <div class="row">
            {% for group in groups %}
            <div class="col-md-4">
                <div class="card mb-4" style="min-height:340px"></div>
                <h2 class="card-img-top">{{group.name}}</h2>
                <div class="card-body">
                    <h5 class="card-title">{{group.description}}</h5>
                    <h5 class="card-body"> member{{group.members}}</h5>
                    <p class="card-text">{{group.date_created}}</p>
                    <a href="{% url 'single_hood' hood.id %}" class="btn btn-primary btn-sm">Join Hood</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

</body>

</html>