{% extends 'admin_dash/admin_dashboard.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content%}

<div class="row-m-5">
    <div class="col-md-12"></div>
    <div class="col-md-10 rgba-stylish-strong  p-4">
        <h3>Enter Details
            {% for message in messages%}
            {{messages}}
            {% endfor %}
        </h3>
        <form id="invite_members" action="{% url 'invite_members' %}" method="post">
            {% csrf_token %}
            <div class="invitee d-flex flex-row" style="width: 400px;">
                <input type="text" name="first_name" placeholder="First Name" class="mr-4">
                <input type="text" name="last_name" placeholder="Last Name" class="ml-4">
            </div>
            <div class="invitee_email" style="width: 400px;">
                <input type="text" name="user_email" placeholder="Email Address">
            </div>
            <button type="submit" name='single_invite' class="btn-outline-success ml-5 mr-5">Send Invite</button>

        </form><br>
        <div class="d-flex">
            <a href="{% url 'download_csv' %}">
                <button class="btn btn-warning ml-5">Dowload CSV</button>
            </a>

            <button class="btn btn-success ml-5" data-toggle="modal" data-target="#UploadFile">Upload CSV</button>

            <!-- Modal -->
            <div class="modal fade" id="UploadFile" tabindex="-1" role="dialog" aria-labelledby="UploadFileLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'invite_members' %}" method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                                {{form}}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" name='multiple_invite' class="btn btn-outline-primary">SUBMIT</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>      
    <div class="col-md-1"></div>
</div>

{% endblock %}