{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="ideas_body" style="overflow: hidden;">
  <h1 class="text-center bold">Welcome to Meet Collegues</h1>
  <div class="row">


    <div class="col-md-4 idea_form">
      <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {% for message in messages %}
        <div class="alert alert-warning">{{message}}</div>
        {%endfor%}
        {{form.as_p}}
        {{form.media}}

        <button type="submit">Post</button>
      </form>
    </div>
    <div class="col-md-8 projects_list">
      <h3 class="bold">Open Projects</h3>
      {% for message in messages%}
      <div class="alert alert-success">{{message}}</div>
      {%endfor%}
      {% for idea in ideas%}
      <div class="card m-4 d-flex flex-row align-items-center justify-content-center">
        <div class="card-body col-md-6">
          <h3 class="card-title">{{idea.title}}</h3>
          <p class="card-text">
            {{idea.description}}
            <hr>
            <p>Owner: {{idea.owner}}</p>
            <p>Interests: {{idea.interests.count}} members</p>
            <p>collaborators: {{idea.collaborators.count}} members</p>

          </p>
          <div class="card-footer">
            <p>{{idea.date_created|timesince}} ago</p>
            <p>Status: {%if idea.is_open%}Open{%else%} CLosed {%endif%}</p>
            <p>Valid until: {{idea.validity}}</p>
            <a href="{% url 'single_idea' idea.id %}"><button>Collaborate</button></a>
          </div>
        </div>
        <div class="card-image col-md-5">
          <div style="background-image: url('{{idea.image1_path.url}}');
                                                background-position: center;
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                width: 100%;">

          </div>
          <img src="{% if idea.image2_path %}{{idea.image2_path.url}}{%endif%}" alt="" style="width: 100%;">
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}