{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content%}

<div class="container">
    <h3>CREATE A FUNDRAISER</h3>
    <div class="col-sm-12 col-lg-6 m-auto card" style="background-color: beige;">
        <form action="{%url 'fundraiser'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-success btn-lg btn-center" value="Submit"><br><br>
        </form>
    </div>
    <br>
</div>



{% endblock %}