{% extends 'base.html'%}
{% load bootstrap3 %}


{%block content%}
<h2 style="font-weight:600; font-size: 25px; color: black;text-align: center;">Message : {{ message.title}}</h2>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card mb-4" style="min-height:340px">
                <form>
                    <p style="font-weight:500; font-size: 25px; color: black;"><a class="text-right"
                            style="text-decoration: none; color: black; " class="card-title">{{ message.description}}
                    </p>

                    <hr>


                    <h6 style="font-weight:100; font-size: 15px; color: black;"><a class="text-right"
                            style="text-decoration: none; color: black; " class="card-text">{{message.date_created}}
                    </h6>
                    <div class="form-group">
                        <label for="replies">Reply:</label>
                        <textarea class="form-control" rows="12" style="font-weight:600; font-size: 15px;">
                            

                            {% for response in all_responses %}
                            {{ message.creator}}: {{response.reply}}
                             {% endfor %}
                         </textarea>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-12">
        <div class="card mb-4 ">
            <h2>Add Your Response</h2>
            <div style="background-color: beige;">
                <form action="{%url 'reply' message.id %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    {% bootstrap_form form%}
                    <input type="submit" class="btn-success btn-sm btn-center" value="Submit"><br><br>
                </form>
            </div>
            <br>
        </div>
        </div>
    </div>
</div>

{% endblock %}