{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load bootstrap4 %}
{% load static %}

{%block content%}

<div class="row m-0">
    <div class="col-md-4 mb-3">
        <div class="card image_container">
            <div class="card-body ">
                <div class="d-flex flex-column align-items-center text-center">
                    {% if user_profile %}
                    <img src="{{user_profile.photo_path.url}}" alt="{{request.user.username}}" class="rounded-circle"
                        width="150px" height="150px">
                    {%else%}
                    <img src="{% static 'images/avatar_image.png' %}" alt="Admin" class="rounded-circle" width="150">
                    {%endif%}
                    <div class="mt-3">
                        <h4>@{{user.username}}</h4>
                        {% if user_profile %}
                        <p class="text-secondary mb-1">{{user_profile.bio}}</p>
                        {%else%}
                        <p class="text-muted font-size-sm"><i>No bio Added</i></p>
                        {%endif%}
                        <!--profile form modal triger button-->
                        {% if user_profile %}
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#update_profile">Update
                            Profile</button>
                        {%else%}
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#user_profile">Add
                            Profile</button>
                        {%endif%}
                    </div>

                    <!--Add user form Modal -->
                    <div class="modal fade" id="user_profile" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'user_profile' %}" method="post" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        {{profile_form}}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" name="add_profile">Save
                                        changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Update profile form Modal -->
                    <div class="modal fade" id="update_profile" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'user_profile' %}" method="post" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        {{profile_form.bio.label}} {{profile_form.bio}}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" name='update_profile'>Save
                                        changes</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3 user_posts p-4">
            <h5 class="bold">Your Posts</h5>
            <ul class="list-group list-group-flush" style="overflow-y: scroll;">
                {% if posts %}
                {% for post in posts %}
                <li>
                    <div class="card d-flex flex-row align-items-center mb-4">
                        <div class="card-image col-md-3">
                            <img src="{{post.image_path.url}}" alt="" style="width:100%;">
                        </div>
                        <div class="card-title col-md-5 bold">
                            {{post.title}}
                        </div>
                        <div class="card-text col-md-4">
                            <h5>{{post.date_created|date}}</h5>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {%else%}
                <h4>No posts created yet</h4>
                {%endif%}
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3 contact_container">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="m-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{user.first_name}} {{user.last_name}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="m-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{request.user.email}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="m-0">Groups</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% if user_profile.group %}
                        {{user_profile.group.name}}
                        {%else%}
                        <h5 class="bold grey">No Groups</h5>
                        {% endif %}

                    </div>
                </div>
                <hr>
            </div>

        </div>
        <div class="row gutters-sm">
            <div class="col-sm-6 mb-3 participation">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i
                                class="material-icons text-info mr-2"></i>Collaborations</h6>
                        <!--collaborations here-->
                        {% if collaborations %}
                        {% for collab in collaborations %}
                        <div class="card">
                            <div class="card-body d-flex flex-row align-items-center">
                                <div class="card-image col-md-3">
                                    <img src="{{collab.image1_path.url}}" alt="" width="50px">
                                </div>
                                <div class="card-title col-md-4 bold">
                                    {{collab.title}}
                                </div>
                                <div class="card-text col-md-5 bold">
                                    {{collab.description|safe}}
                                </div>
                            </div>
                            <div class="card-footer col-md-12 d-flex flex-row flex-wrap">
                                <h5>{{collab.date_created|date}}</h5>
                                <h5>{{collab.collaborators.count}}</h5>
                                <h5>Status {% if collab.is_open %} Open {%else%} Closed {%endif%}</h5>
                            </div>
                        </div>
                        {% endfor %}
                        {%else%}
                        <h5 class="bold">No Collaborations Here</h5>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 project_details">
                <div class="card h-100">
                    <div class="card-body">
                        <!--Projects details here/ Requests for collaboration-->
                        <div class="col-md-12 p-0">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <h6 class="bold mr-5"><a class="bold" data-toggle="pill" href="#open_projects">Open
                                            Projects</a></h6>
                                </li>
                                <li>
                                    <h6 class="bold ml-5"><a class="bold" data-toggle="pill"
                                            href="#requests">Requests</a></h6>
                                </li>
                            </ul>

                            <div class="tab-content content">
                                <div id="open_projects" class="tab-pane fade in active p-0 m-0">
                                    {% if projects %}
                                    {% for project in projects %}
                                    <div class="card row mb-4">
                                        <div class="card-body d-flex flex-row align-items-center flex-wrap">
                                            <div class="card-image col-md-3">
                                                <img src="{{project.image1_path.url}}" alt="" width="50px">
                                            </div>
                                            <div class="card-title col-md-4 bold">
                                                {{project.title}}
                                            </div>
                                            <div class="card-text col-md-5">
                                                {{project.description|safe|truncatechars:50}}
                                            </div>
                                        </div>
                                        <div class="card-footer col-md-12 d-flex flex-row flex-wrap">
                                            <h6 class="bold m-2">{{project.date_created|date}}</h6>|<br>
                                            <h6 class="bold m-2">Collaborators {{project.collaborators.count}}</h6>|<br>
                                            <h6 class="bold m-2">Interests {{project.interests.count}}</h6>|<br>
                                            <h6 class="bold m-2">Open until {{project.validity|date}}</h6>|<br>
                                            <button class="pt-0 pb-0">Close</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {%else%}
                                    <h5 class="bold">No Projects Here</h5>
                                    {%endif%}
                                </div>

                                <div id="requests" class="tab-pane fade">
                                    {% if requests %}
                                    {% for requester in requests %}
                                    <div class="card">
                                        <div class="card-body d-flex flex-row align-items-center">
                                            <div class="card-image col-md-3">
                                                <img src="{{requester.image1_path.url}}" alt="" width="50px">
                                            </div>
                                            <div class="card-title col-md-4 bold">
                                                {{requester.title}}
                                            </div>
                                            <div class="card-text col-md-5 bold">
                                                <button type="submit">View Requests</button>
                                            </div>
                                        </div>
                                        <div class="card-footer col-md-12 d-flex flex-row flex-wrap">
                                            <h5>{{requester.date_created|date}}</h5>
                                            <h5>{{requester.collaborators.count}}</h5>
                                            <h5>{{requester.interests.count}}</h5>
                                            <h5>Open until {{requester.validity|date}}</h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {%else%}
                                    <h5 class="bold">No Sent Requests</h5>
                                    {%endif%}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{%endblock%}